body {
    font-family: 'Lato', sans-serif;
}
.title {
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 5rem !important;
}
.head {
    opacity: 80%;
    color: #694552;
    margin: 200px 0;
}

/* .parallax-container {
    height: 650px;
  } */

.custParallax { 
    /* The image used */
    background-image: url("../images/pexels-photo-1083822.jpeg");

    /* Set a specific height */
    height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p1 {
    margin-top: 0;
}

/* .card-image  {
    height: 250px;
} */

img {
    margin-bottom: 10px;
}

.textCol {
    color: #eee;
}

.mypic {
    width: 200px;
}

i {
    padding: 0 10px;
}

a {
    color: grey;
}




/* Animation for title*/
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2018-11-18 10:49:28
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  