
.head {
    opacity: 80%;
    color: #694552;
    margin: 200px 0;
}

.parallax-container {
    height: 650px;
  }

.p1 {
    margin-top: 0;
}

img {
    margin-bottom: 10px;
}

.textCol {
    color: #eee;
}